.container{
    position: absolute;
    top: 40px;
    right: 0vw;
    height: calc(100vh - 40px);
    width: 200px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid gray;
    padding: 10px;
    padding-top: 20px;
    font-family: 'Aclonica';
}