.container{
    position: absolute;
    top: 40px;
    left: 0vw;
    height: fit-content;
    width: 210px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid gray;
    padding: 10px;
    padding-top: 20px;
    font-family: 'Aclonica';
}